[
  {
    "id": "CS_PG_CRED_01",
    "name": "CustomerService Postgres",
    "type": "postgres",
    "data": {
      "host": "postgres",
      "database": "${CS_DB_NAME}",
      "user": "${CS_DB_USER}",
      "password": "${CS_DB_PASSWORD}",
      "port": 5432,
      "ssl": "disable"
    }
  },
  {
    "id": "CS_REDIS_CRED_01",
    "name": "CustomerService Redis",
    "type": "redis",
    "data": {
      "host": "redis",
      "port": 6379,
      "password": "${REDIS_PASSWORD}",
      "database": 0,
      "ssl": false
    }
  }
]
